COMPOSE_PROJECT_NAME=vflow-testnet
INTERNAL_NETWORK_SUBNET="10.10.40.0/24"

# Node miscellaneous
NODE_VERSION="0.2.2-1.0.0"
NODE_ROLE="boot-node"
NODE_NET_IP_ADDRESS="10.10.40.3"
NODE_NET_P2P_PORT=30333
NODE_NET_P2P_PORT_WS=30334

# Node config
PARA_NODE_KEY=""

# Node config (Substrate args)
PARA_CONF_NAME=""
PARA_CONF_BASE_PATH="/data/node"
PARA_CONF_CHAIN=testnet
PARA_CONF_LISTEN_ADDR="/ip4/0.0.0.0/tcp/${NODE_NET_P2P_PORT},/ip4/0.0.0.0/tcp/${NODE_NET_P2P_PORT_WS}/ws"

# NGINX/ACME config
NGINX_NET_IP_ADDRESS="10.10.40.11"
ACME_VHOST=""
ACME_DEFAULT_EMAIL=""
